.rodape-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218, 150, 224);
    border-radius: 150px 10px 80px 0px;
    
}
#tam1{
    height: 90px;
}
#tam2{
    height: 90px;
}
#tam3{
    height: 115px;
}
#rodape-s{
    display: flex;
    margin: 20px;
    align-items:center ;
    justify-content: space-between;
    gap: 10px;
}
.direitos {
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(0, 0, 0);
}
#cntts{
    padding-top: 80%;
}

